* {
    margin: 0;
    padding: 0;
}

Body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../../../../WebBackground/3.png);
    background-size: cover;
    background-color: #3f2304;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
}

#Return {
    position: relative;
    background-color: transparent;
    border: none;
    margin-top:-5px;
    margin-left: -60px;
    height: 30px;
    transition: ease 0.3s;
}

#Return button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    width: 20px;
    align-items: center;
    transition: ease 0.3s;
}



#Return img {
    height: 150px;
    object-fit: contain; 
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.controls-top {
    position: absolute;
    top: 95px;
    right: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffd34e;
    z-index: 10;
    border-radius: 10px;
}

#saveCharacterBtn,
#resetCharacterBtn,
 img {
    height: 200px;
    object-fit: contain; 
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#charNameDisplay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    top: 20px;
    left: -350px;
    background-color: rgba(113, 82, 10, 0.844); /* semi-transparent */
    height: 55px;
    width: 250px;
    border-radius: 15px;
}


#charNameDisplay::-webkit-scrollbar {
  display: none;
}

.controls-top h2 {
    margin-bottom: 10px;
}

.controls-top input {
    height: 30px;
    width: 400px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.controls-bottom {
    position: absolute;
    top: 225px;
    right: 45%;
    bottom: 10px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.controls-bottom button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    width: 150px;
    height: 0px;
    align-items: center;
    transition: ease 0.3s;
}

.controls-bottom button:hover {
    transform: scale(1.05);
}


.clothing-btn {
    background-color: #f6ac3d;
    border: 2px solid #db7500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 95px;
    align-items: center;
    transition: background-color 0.1s;
    margin-bottom: 10px; 
}

.clothing-btn:hover {
    background-color: #db7500;
}

.charbox {
    margin-top: 25px;
    position: absolute;
    left: 5%;
    height: 650px;
    width: 390px;
    margin-bottom: 15px;
    background-color: #eabe59;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    border: 3px solid #715714;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

/* Crucial: Styling for layered images within .charbox */
.charbox .base {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 650px;
    image-rendering: pixelated;
    z-index: 1;
}

/* DEFAULT LAYERING STYLES */
.charbox .pants {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    height: 35%; /* Default size */
    image-rendering: pixelated;
    z-index: 2;
}

.charbox .shirt {
    position: absolute;
    top: 50px; /* Default starting position */
    left: 0;
    right: 0;
    margin: auto;
    max-height: 40%; /* Default max size */
    image-rendering: pixelated;
    z-index: 3;
}

.charbox .hat {
    position: absolute;
    top: 10px; /* Default starting position */
    left: 0;
    right: 0;
    margin: auto;
    height: 30%; /* Default size */
    image-rendering: pixelated;
    z-index: 4;
}

.acceso {
    background-color: #eabe59;
    width: 950px;
    position: absolute;
    bottom: 50px;
    right: 10px;
    top: 445px;
    border-radius: 5%;
    height: 240px;
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 20px;
    border: 3px solid #715714;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.acceso::-webkit-scrollbar {
  display: none;
}

.acceso h1 {
    color: #3f2304;
    margin-bottom: 15px;
    text-align: center;
}


.acceso img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.hats,
.shirts,
.pant {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33%;
}

.hats ul,
.shirts ul,
.pant ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hats li,
.shirts li,
.pant li {
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



/* --- HATS --- */

/* h1: Black Hair/Fringe */
.charbox .h1 {
    top: 25px; 
    height: 25%; 
}
/* h2: White Beanie */
.charbox .h2 {
    top: 24px;
    height: 25%;
}
/* h3: Table Hat */
.charbox .h3 {
    top: 28px;
    height: 18%;
}
/* h4: Hollow Knight Mask */
.charbox .h4 {
    top: -40px;
    height: 40%;
}
/* h5: Demon Mask */
.charbox .h5 {
    top: -50px;
    height: 45%;
}


/* --- SHIRTS --- */

/* s1: Blue T-Shirt */
.charbox .s1 {
    top: 210px; 
    height: 700%; 
}
/* s2: Blue Cloak/Cape */
.charbox .s2 {
    top: 210px;
    height: 700%;
    width: 75%;
}
/* s3: Purple Gojo */
.charbox .s3 {
    top: 210px;
    height: 700%;
}
/* s4: Spamton Shirt */
.charbox .s4 {
    top: 210px;
    height: 700%;
}
/* s5: Batman Shirt */
.charbox .s5 {
    top: 220px;
    height: 700%;
    width: 60%;
}


/* --- PANTS --- */

/* p1: Black Wide Pants */
.charbox .p1 {
    bottom: 0px; 
    height: 33%;
}
/* p2: Two-tone Joker Pants */
.charbox .p2 {
    bottom: 0px; 
    height: 33%;
}
/* p3: Batman Pants */
.charbox .p3 {
    bottom: 0px; 
    height: 33%;
}
/* p4: Light Mode Pants */
.charbox .p4 {
    bottom: 0px; 
    height: 33%;
}
/* p5: Joker Incognito Pants */
.charbox .p5 {
    bottom: 0px; 
    height: 33%;
}