* {
    margin: 0;
    padding: 0;
}

Body {

    font-family: 'Poppins', sans-serif;
    background-image: url(../../WebBackground/3.png);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  
 #FFDBBB
 #eabe59
  #f6ac3d
  #db7500
#715714 
#7e5a05

*/



.Return {
    font-size: 30px;
    position: absolute;
    margin-top: 5%;
    width: 30px;
    height: 30px;
    right: 95%;
    cursor: pointer;
}

.Return:hover {
    transform: scale(1.05 ease 0.3s);
}

/* Char */

.Char-Box {
    position: absolute;
    top: 25px;
    border-radius: 15px;
    margin-top: 50px;
    height: 600px;
    background-color: #7e5a05;
    width: 1000px;
    padding: 15px;
    min-width: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

h1 {
    text-align: center;
    position: absolute;
    right: 25%;
    margin-bottom: 50%;
    font-size: 75px;
    color: #db7500;
    text-decoration: underline;

}

input {
    position: absolute;
    margin-bottom: 33%;
    width: 400px;
    height: 30px;
    margin-left: 97px;
    background-color: #FFDBBB;
    padding: 10px;
    border: 2px solid #db7500;
    color: #241a00;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #eabe59;
    box-shadow: 0 0 5px #eabe59;
    transform: scale(1.05);
}

.Shop {
    position: absolute;
    margin-top: 25%;
    right: 3%;
    width: 150px;
    height: 100px;
    background-color: #eabe59;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Shop img {
    height: 150px;
    margin-left: -5%;
    image-rendering: pixelated;
}

.UI {
    display: flex;
    justify-content: right;
    align-items: center;
}

.Butt {
    position: absolute;
    right: 2%;
    background-color: #7e5a05;
    display: flex;
    align-items: center;
}

.Gender {
    background-color: #FFDBBB;
    height: 250px;
    position: absolute;
    right: 25px;
    display: flex;
    margin-bottom: 30%;
    justify-content: right;
    align-items: right;
}

#Male {
    display: none;
    max-width: 100%;
    height: auto;
}

.Gender button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}



.clothing {
    position: relative;
    background-color: #eabe59;
    height: 450px;
    width: 300px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}





.menu {
    width: 420px;
    margin: auto;
    margin-top: 175px;
    margin-right: 240px;
}

.collapsible {
    width: 100%;
    height: 60px;
    background-color: #db7500;
    color: #fff7df;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    margin: 10px 0;
    transition: opacity 0.3s ease;
}

.content {
    max-height: 0;
    overflow: hidden;
    background: #fff7df;
    transition: max-height 0.2s ease-out;
    padding: 0 10px;
}

.content ::-webkit-scrollbar {
    display: none;
}

.content ul {
    list-style: none;
    padding: 10px 0;
    height: 165px;
    overflow-y: scroll;
}

.content img {
    height: 75%;
    image-rendering: pixelated;
}

.content button {
    width: 325px;
    height: 75px;
}

.hiddenFade {
    opacity: 0;
    pointer-events: none;
}



.Boy,
.Girl {
    height: auto;
    image-rendering: pixelated;
    transition: 0.1s ease 0.3s;
}

.Boy:hover {
    position: relative;
    right: 0;
    margin-left: 15%;
    transform: scale(1.05);
}


.Girl:hover {
    position: relative;
    right: 0;
    transform: scale(1.05);
}

.collapsible button {
    transition: ease 0.5s;
    cursor: pointer;
}

.collapsible button:hover {
    transform: scale(1.10);
}

button {
    background-color: #db7500;
    color: #fff7df;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
    margin: 10px;
    height: 35px;
    width: 80px;
}

button:hover {
    transform: scale(1.05);
}

a:link {
    transition: ease 0.3s;
    color: #db7500;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #db7500;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #eabe59;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: #db7500;
    background-color: transparent;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#charNameDisplay {
    position: absolute;
    left: 118px;
    top: 75px;
    max-width: 125px;
    max-height: 25px;
    overflow: hidden;
    font-size: 20px;
    color: #fff7df;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.char-controls {
    position: absolute;
    left: 85px;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.char-controls button {
    height: 55px;
    background-color: #db7500;
    color: #fff7df;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: transform 0.2s;
}

.char-controls button:hover {
    transform: scale(1.1);
}

.clothing {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #eabe59;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Character images */
.clothing img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

/* Z-index order */
.base {
    height: 90%;
    z-index: 1;
}

.pants {
    height: 30%;
    width: 35%;
    position: absolute;
    margin-top: 120px;
    z-index: 2;
}

.shirt {
    height: 36%;
    position: absolute;
    margin-top: 8.5px;
    z-index: 3;
}

.hair {
    height: 25%;
    position: absolute;
    margin-top: -125px;
    z-index: 4;
}

.accessory {
    z-index: 5;
}
